<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Optimization Tool</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="image">
            <a href="/">        
                <img src="http://www.clipartsuggest.com/images/633/red-medical-symbol-9MqeBw-clipart.jpeg" alt="logo">
            </a>
        </div>
        <a class="navbar-brand" href="/">Hospital</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin">Departments</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/rooms">Operation Rooms</a>
            </li>

          </ul>
        </div>
    </nav>
  
    <div class="user_input">
        <div class="heading"><h5>User Input</h5></div>
        <form action='/' class="form-inline" method="post">
                <div class="input-group date" id="datepicker">
                    <input type="text" class="form-control" id='date_input' name='op_date' required/>
                    <span class="input-group-append">
                        <span class="input-group-text bg-white">
                            <i class="fa fa-calendar" id="calendar_logo"></i>
                        </span>
                    </span>
                </div>
        
            <div class="dropdown_select" name='dropdown_select'>
                <select id="list" name='dep_name' onchange="getSelectValue();" required>
                    <option value="" disabled selected>Select Department</option>
                    <option value="Department_1">Department 1</option>
                    <option value="Department_2">Department 2</option>
                    <option value="Department_3">Department 3</option>
                    <option value="Department_4">Department 4</option>
                    <option value="Department_5">Department 5</option>
                </select>
            </div>
            

            <div class="form-group mx-sm-3 mb-2" name='dur_and_cap'>
                <input type="text" class="form-control" name='doctor_name' id="doctor_name" placeholder="Doctor Name" required>
                <input type="number" min="0" class="form-control" name='op_duration' id="op_duration" placeholder="Operation Duration (min)" required>
            </div>
            <div class="dropdown_select2" name='dropdown_select2'>
                <select id="list2" name='op_urgency' onchange="getSelectValue2();" required>
                    <option value="" disabled selected>Select Urgency (10 - very urgent)</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary mb-2" name="submit_btn" value="submit_form">Submit</button>
        </form>
    </div>

    <div class="filter">
        <div class="heading"><h5>Filter User Inputs</h5></div>
        <form action="/" method="post">
            <div class="input-group date" id="datepicker2">
                <input type="text" class="form-control" id='date_input2' name='filter_date' required/>
                <span class="input-group-append" id="filter_span">
                    <span class="input-group-text bg-white" >
                        <i class="fa fa-calendar"></i>
                    </span>
                </span>
            </div>
            <div class="filter_and_home_btns">
                <button type="submit" class="btn btn-primary mb-2" name="submit_btn" value="filter" id="filter_btn">Filter</button>
                <button type="button" class="btn btn-warning mb-2" id="home_btn" onclick="history.back()"><a href="javascript:history.back()">Go Back</a></button>
            </div>
        </form>
    </div>

    <div class="Table_content">
        <table class="table">
            <thead><h2>Appointments</h2></thead>
            <tbody class="table_body">
                <tr>
                    
                    <th>Doctor Name</th>
                    <th>Operation Date (yyyy/mm/dd)</th>
                    <th>Department</th>
                    <th>Operation Duration</th>
                    <th>Urgency of Operation</th>
                    <th> Operation Rooms</th>
                    <th>Actions</th>
                </tr>
                {% for task in tasks: %}
                    <tr>
                        
                        <td>{{task.doctor}}</td>
                        <td>{{task.operation_date.date()}}</td>
                        <td>{{task.department_name}}</td>
                        <td>{{task.operation_duration}}</td>
                        <td>{{task.operation_urgency}}</td>
                        <td>{{task.operation_room}}</td>
                        <td>
                            <a href="/delete/{{task.id}}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script type="text/javascript">
        $(function() {
            $('#datepicker').datepicker();
        });

        $(function() {
            $('#datepicker2').datepicker();
        });

        function getSelectValue()
            {
                var selectedValue = document.getElementById("list").value;
                console.log(selectedValue);
            }
            getSelectValue();
        
        function getSelectValue2()
            {
                var selectedValue2 = document.getElementById("list2").value;
                console.log(selectedValue2);
            }
            getSelectValue2();
    </script>
</body>
</html>