* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: #eeeeee;
}

.user_input {
    border: 3px solid skyblue;
}

.Table_content {
    border: 2px solid skyblue;
    width: 70%;
    text-align: center;
    margin: auto;
    margin-top: 20px;
}

.Table_content_2 {
    border: 2px solid skyblue;
    width: 70%;
    text-align: center;
    margin: auto;
    margin-top: 20px; 
}

.table {
    text-align: center;
}

.form-inline {
    margin: auto;
}

#datepicker {
    width: 200px;
    margin: auto;
}

#list {
    width: 300px;
    margin-left: 0;
}
#list2 {
    width: 280px;
    margin: auto;
}
select {
    width: 300px;
    height: 33px;
    border: 1px solid rgb(191, 192, 192);
}

.form-group {
    margin: auto;
}

.btn {
    margin: 10px;
    margin-right: 20px;
}

#datepicker { 
    width: 220px;
    margin: auto;
}

#datepicker2 { 
    width: 300px;
    margin: auto;
}

#date_input2 {
    margin-left: 80px;
    margin-top: 10px;
    height: 40px;
}

#filter_span {
    margin-right: 20px;
    margin-top: 10px;
    height: 40px;
}

#filter_btn {
    width: 90px;
}

#home_btn {
    width: 90px;
}

#op_duration {
    margin-left: 20px;
}

button a {
    color:white;
}

button a:hover {
    text-decoration: none;
}

.filter {
    border: 2px solid skyblue;
    width: 70%;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    overflow: hidden;
}

.filter_and_home_btns {
    margin-left: 50px;
    width: 280px;
    overflow: hidden;
}

.filter form .input-group {
    margin: auto;
    text-align: center;
    width: 50vp;
    float:left;
}

.image {
    width: 100px;
    margin: auto;
    margin-left: 10px;
    text-align: left;
    margin-top: 5px;
}
img {
    margin-left: 20px;
    width: 50px;
    height: 30px;
}

#department_info {
    border: solid skyblue;
    width: 550px;
    float: left;
    margin-left: 100px;
}

#op_rooms_info {
    border: solid skyblue;
    width: 550px;
    overflow: hidden;  
}